.App{
height: 100vh;
width: 100vw;
}

.main{
  height: 100%;
  width: 100%;
  background-image: url("https://im.whatshot.in/img/2020/Mar/27368987-875258799313196-9131867842976065364-o-cropped-1584607122.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  height: 90%;
  width: 90%;
  background-color: rgb(142, 157, 172);
  margin-right: 50px;
  opacity: 0.98;
}

.header{
height: auto;
text-align: center;
background-color: rgb(110, 120, 131);
padding-bottom: 20px;
padding-top: 5px;
}
.header h1{
  color: #fff;
}

.bookslist{
  height: 81%;
  overflow-y: auto;
}
.bookslist h1{
  width: 100%;
  text-align: center;
  margin-top: 25vh;
  color: #fff;
}
#loader{
  width: 300px;
  height: 100px;
  text-align: center;
  margin: auto;
  margin-top: 25vh;
}

.card{
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left:20px;
}
